h2{
     font-family: cursive;
     text-align: center;
     font-style: italic;
} 
p{
    font-size: large;
    font-weight:800;
    line-height:20px;
    font-family: "Caveat", cursive;
    
}
#paraL{
     /* color used with the help of hsl value */
    background-color: hsl(93, 90%, 60%);
}
#para1{
    /* color used with the help of hexa decimal value */
    background-color: #f0e7be97 ;
}

#para2{
    background-color: rgba(77, 182, 243, 0.395);
}
#para3{
    /* with the help of rgba we can even set transparency of color */
    background-color: rgba(139, 222, 97, 0.511);
    /* this is just rgb */
    background-color: rgb(203, 203, 91);
} 
